node_modules
bower_components
bmb_packages
.idea
.tmp
.bmbrefs
.jsonDocs
docs
dist
dist-node
src/generated
downloads/
restJson/
*.iml
publish/
settings.json
test-reports
coverage
.bmb.cli.cfg.json
dev.debug.log
npm-debug.log
