<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{action}} contact</h4>
            </div>
            <div class="modal-body">
                <fieldset  style="margin: 10px" ng-disabled="readOnly" >
                    <form ng-submit="show()" class="form-horizontal" name="userForm" novalidate>
                        <!-- NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" ng-model="contact.name" required>
                            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && userForm.$submitted" class="help-block">You name is required.</p>
                        </div>

                        <!-- Phone -->
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="phone" class="form-control" ng-model="contact.phone">
                        </div>

                        <!-- EMAIL -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" ng-model="contact.email" required>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                        </div>
                        <!-- GROUP -->
                        <div class="form-group">
                            <label>Group:</label>
                            <select name="group" id="group" class="form-control" ng-model="contact.group" ng-options="group for group in groups"></select>
                        </div>
                    </form>
                </fieldset >
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(contact)" class="btn btn-primary" ng-disabled="userForm.$invalid" data-dismiss="modal">{{action}}</button>
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
