<!DOCTYPE html>
<html lang="en" >

<head>
    <title>Phone book</title>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="../node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="app.js"></script>
</head>

<body >
<div class="container" ng-app="PhoneBook" ng-controller="PhoneBookCtrl">
    <div class="jumbotron ">
        <button class="btn btn-primary btn-lg" ng-click="create()" style="width: 200px">Create</button>
        <table class="table table-striped ">
            <thead >
            <tr>
                <th class="col-lg-1">ID</th>
                <th class="col-lg-3">Name</th>
                <th class="col-lg-3">Phone Number</th>
                <th class="col-lg-2">E-Mail</th>
                <th class="col-lg-1">Group</th>
                <th class="col-lg-2">Edit/Delete</th>
            </tr>
            <tr>
                <th>
                    <input type="text" class="form-control" >
                </th>
                <th><input type="text" class="form-control" ></th>
                <th><input type="text" class="form-control" ></th>
                <th><input type="text" class="form-control" ></th>
                <th>
                    <select name="" id="" class="form-control"  >

                    </select>
                </th>
                <th></th>
            </tr>


            </thead>
            <tbody>
            <tr ng-repeat="contact in contacts">
                <td>{{contact.id}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.group}}</td>
                <td >
                    <div class="btn-group-horizontal">
                        <button type="button" class="btn btn-info btn-md" ng-click="edit(contact)"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-danger btn-md" ng-click="delete(contact)"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>

</body>
</html>
