<!DOCTYPE html>
<html lang="en" >

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
    <script src="app.js"></script>
</head>

<body >
<div class="container" ng-app="Phone" ng-controller="PhoneCtrl">
    <div class="jumbotron" style="margin-top: 40px">
        <form ng-submit="show()" class="form-horizontal" name="userForm" novalidate>
            <!-- NAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="name" required>
                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && userForm.$submitted" class="help-block">You name is required.</p>
            </div>

            <!-- Phone -->
            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" ng-model="phone">
            </div>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="email" required>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>
            <div class="form-group">
                <label>Group:</label>
                <select name="group" id="group" class="form-control" ng-model="selectedOption" ng-options="group for group in groups"></select>
            </div>

            <button class="btn btn-primary btn-lg" type="submit" style="width: 200px">Add</button>
        </form>
    </div> <!--An form part-->

    <!-- The actual modal template, just a bit o bootstrap -->
    <script type="text/ng-template" id="modal.html" >
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add a new contact in PhoneBook?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Name: {{name}}</p>
                        <p>Phone: {{phone}}</p>
                        <p>E-Mail: {{email}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <div class="jumbotron ">
        <table class="table table-striped ">
            <thead >
            <tr>
                <th class="col-lg-1">ID</th>
                <th class="col-lg-3">Name</th>
                <th class="col-lg-3">Phone Number</th>
                <th class="col-lg-2">E-Mail</th>
                <th class="col-lg-2.5">Group</th>
                <th class="col-lg-1">Edit/Delete</th>
            </tr>
            <tr>
                <th>
                    <input type="text" class="form-control " >
                </th>
                <th><input type="text" class="form-control " ></th>
                <th><input type="text" class="form-control " ></th>
                <th><input type="text" class="form-control " ></th>
                <th>
                    <select name="" id="" class="form-control"  >

                    </select>
                </th>
                <th></th>
            </tr>


            </thead>
            <tbody>
            <tr ng-repeat="contact in contacts">
                <td>{{contact.id}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.group}}</td>
                <td >
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-info btn-md">Edit</button>
                        <button type="button" class="btn btn-danger btn-md">Delete</button>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div> <!--An table part-->

</div>

</body>
</html>
