<!DOCTYPE html>
<html>
<head>
    <title>calc</title>
    <meta charset="utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
</head>
<body>
<div ng-app="Calculator" ng-controller="CalcCtrl">
    <input type="text" ng-model="disp">
    <table border="1" style="width: 200px; text-align: center">
        <tr ng-repeat="buttonsRow in buttonsState">
            <td ng-click="pressNum(b)" ng-repeat="b in buttonsRow">{{b}}</td>
        </tr>
    </table>
</div>


<script>
    var myApp = angular.module('Calculator', []);
    myApp.controller('CalcCtrl', function($scope) {
        var allButtons = [7, 8, 9, '+', 4, 5, 6, '-', 1, 2, 3, '*', 0, 'c', '=', '/'];
        $scope.buttonsState = chunks(allButtons, 4);
        $scope.switcher = true;
        $scope.bufer = 0;
        $scope.disp = 0;
        $scope.pressNum = function(num) {
            $scope.disp += '' + num;
        }

    })

    function chunks(array, size) {
        var results = [];
        while (array.length) {
            results.push(array.splice(0, size));
        }
        return results;
    }
</script>

</body>
</html>
