<!DOCTYPE html>
<html>
<head>
    <title>multi-filter</title>
    <meta charset="utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
</head>
<body>
<div ng-app="People" ng-controller="PeopleCtrl">

    <table width="100%" border="1">
        <tr>
            <th ng-click="sort('fName')">First Name</th>
            <th ng-click="sort('lName')">Last Name</th>
            <th ng-click="sort('year')">Year of birth</th>
            <th ng-click="sort('location')">Location(country)</th>
        </tr>
        <tr>
            <td><input type="text"  ng-model="filterState.fName"></td>
            <td><input type="text" ng-model="filterState.lName" ></td>
            <td><input type="text" ng-model="filterState.year" ></td>
            <td><input type="text" ng-model="filterState.location" ></td>
        </tr>
        <tr ng-repeat="x in lib | orderBy: sortFacktor | filter: filterState">
            <td>{{x.fName}}</td>
            <td>{{x.lName}}</td>
            <td>{{x.year}}</td>
            <td>{{x.location}}</td>
        </tr>
    </table>
</div>


<script>
    var app = angular.module('People', []);
    app.controller('PeopleCtrl', function ($scope) {
        $scope.filterState = {};

        $scope.lib = [
            {fName: 'Kir', lName: 'Starovoitov',year: '1983',location: 'BY'},
            {fName: 'Andr', lName: 'Grib',year: '1954',location: 'D'},
            {fName: 'Ira', lName: 'Belchuk',year: '1978',location: 'F'},
            {fName: 'Olga', lName: 'Mogdalova',year: '1998',location: 'UKR'},
            {fName: 'Piotr', lName: 'Shipxhuk',year: '1968',location: 'USA'},
            {fName: 'Vasili', lName: 'Ivanov',year: '1994',location: 'IT'},
            {fName: 'Igor', lName: 'Petrov',year: '2000',location: 'GR'},
            {fName: 'Ruslan', lName: 'Sidorov',year: '1984',location: 'LT'},
            {fName: 'Dmitri', lName: 'Zhuk',year: '1988',location: 'EST'}

        ];
        $scope.sort = function (x) {
            $scope.sortFacktor = x;
        }

    });
</script>

</body>
</html>
